*{
    background-color: #92ebc6;
}
#Judul{
    font-family: sans;
padding: 20px;
background: linear-gradient(#000046, #1cb5e0);
color: #fff;
}
.footer{
    background-color: #fff;
}
#kel{
    color: black;
    font-family: 'Dancing Script', cursive;
font-family: 'Lemon', cursive;
font-size: 30px;
}
#navbarScroll .navbar-nav li a:hover {
    background-color: rgb(70, 134, 218);
    border-radius: 5px;
    color: aliceblue;
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: justify;
}
table{
    padding: 100px;
    background-color: #92ebc6;
    width: 70px;
    size: 50px;
    border-radius: 8px;
    align-items: center;
}
table label{
    font-size: 25px;
    font-family: sans;
}
#kolom2{
    height: 50px;
    width: 500px;
    font-size: 25px;
    margin: 17px;
    border-radius: 15px;
    font-family: sans;
}
.nav-item{
    font-family: sans;
    font-size: 20px;
}
.container-fluid{
    background-color: #92ebc6;
}
.alamat{
    font-family: 'Dancing Script', cursive;
font-family: 'Fugaz One', cursive;
}


.banner {
    height: 67vh;
    background-size:cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner:after {
    content:'';
    display: block;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: linear-gradient(#000046, #1cb5e0);
}
.banner h2{
    color: black;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid #fff;
}
section {
    padding: 50px 0;
}
section h3{
    text-align: center;
    padding: 20px 0;
    color: #084B7C;
    margin-bottom: 20px;
}
.about p{
    color: #666;
    word-spacing: 2px;
    line-height: 25px;
    text-align: center;
}
.about{
    text-align: center;
}